@using Site_Trades.Models.RegLog



@{
    ViewData["Title"] = "Початок";
}

<link rel="stylesheet" href="css/site.css" asp-append-version="true"/>

<body>
    <div class="block-btns">
        <a asp-controller="Login" asp-action="Index" class="btn btn-gradient">Уввійти</a>
        <a asp-controller="Register" asp-action="Index" class="btn btn-gradient">Зареєструватися</a>
    </div>

    
</body>


