
@{
    ViewData["Title"] = "Помилка при вході";
}

<div class="modal2">
        <div class="modal-window2">
            <h1>Не правильний пароль або почта, будь ласка, перевірте всі данні уважніше</h1>
            
            <a asp-controller="Login" asp-action="Index" class="btn-close"></a>
      
        </div>веч
        
        <div class="overlay2"></div>
</div>
